<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/frustrations/new.css">
  <title>Frustrations</title>
</head>
<body>
  <div>
    <h1>MEN Stack Frustrations</h1>
    <h2>Record your MEN Stack frustrations below:</h2>
    <form action="/frustrations" method="POST" autocomplete="off">
      <div class="frustration-div">
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="Name" id="name">
      </div>
      <div class="frustration-div">
        <label for="frustration1">Frustration #1:</label>
        <input type="text" name="frustration1" placeholder="Mongoose">
      </div>
      <div class="frustration-div">
        <label for="frustration2">Frustration #2:</label>
        <input type="text" name="frustration2" placeholder="Express">
      </div>
      <div class="frustration-div">
        <label for="frustration3">Frustration #3:</label>
        <input type="text" name="frustration3" placeholder="Node.js">
      </div>
      <div class="frustration-div">
        <label for="frustration4">Frustration #4:</label>
        <input type="text" name="frustration4" placeholder="Tech Stacks">
      </div>
      <div class="frustration-div">
        <label for="frustration5">Frustration #5:</label>
        <input type="text" name="frustration5" placeholder="The Unknown">
      </div>
      <button type="submit">Let go of your frustrations!</button>
    </form>
    <a href="/frustrations">Return</a>
  </div>
</body>
</html>