<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %></title>
</head>
<body>
  <div>
    <h1><%= title %></h1>
    <a href="/frustrations">Click here to see why so many people love using the MEN stack!</a>
  </div>
</body>
</html>
